.mar {
    margin-top: 5%;
}
.mar2 {
    margin-left: 8%;
}

.mar3 {
    margin-top: 15px;
}

.body {
    background: rgba(23,26,33,255);
}
.datе-picker-wrapper {
    padding: 1rem;
    max-width: 600px;
}
.bgc {
    background: linear-gradient(0.25turn, #1b2c42, #183849);
}

.bgc2 {
    background: linear-gradient(0.25turn, #2a475e, #1b2838);
}

.sh button {
    top: 0px;
    height: 40px;
    width: 110px;
    background: rgba(32,41,50,255);
    border: 2px solid rgba(114,147,50,255)
}

