<div class="body">
  
  <div class=" bgc2">
    <div class="row">
      <div class="col-sm-1 bgc">
    
      </div>
      <div class="col-sm-9 mar">
        <div class="row mar2">
          <div class="col-8 col-sm-6">
            <form [formGroup]="infoForm">
              <div class="row">
                <div class="col">
                  <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="first_name"
                      formControlName='first_name'>
                    <label for="floatingInput">First Name</label>
                    <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
                      class="alert alert-danger">
                      <div *ngIf="first_name.errors?.['required']">
                        first name is required.
                      </div>
                      <div *ngIf="first_name.errors?.['pattern']">
                        first name is incorrect !!
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="last_name"
                      formControlName='last_name'>
                    <label for="floatingInput">Last Name</label>
                    <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                      class="alert alert-danger">
                      <div *ngIf="last_name.errors?.['required']">
                        last name is required.
                      </div>
                      <div *ngIf="last_name.errors?.['pattern']">
                        last name is incorrect !!
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-4">
                  <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Nick Name"
                      formControlName='nick_name'>
                    <label for="floatingInput">Nick Name</label>
                    <div *ngIf="nick_name.invalid && (nick_name.dirty || nick_name.touched)"
                      class="alert alert-danger">
                      <div *ngIf="nick_name.errors?.['required']">
                        nick name is required.
                      </div>
                      <div *ngIf="nick_name.errors?.['pattern']">
                        nick name is incorrect !!
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col mar3">
                  <div class="text-white">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1" formControlName='gender'>
                      <label class="form-check-label" for="inlineRadio1">ชาย</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2" formControlName='gender'>
                      <label class="form-check-label" for="inlineRadio2">หญิง</label>
                    </div>
                  </div>
                </div>

              </div>
              <br>

              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <div class="form-floating mb-1">
                      <select class="form-control" id="floatingInput" placeholder="first_name"
                        formControlName='first_name'>
                        <option *ngFor="let position of Position" [value]="position">{{position}}
                        </option>
                      </select>
                      <label for="floatingInput">Position</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-12 col-md-4 form-group">
                      <input type="text" class="form-control" placeholder="Birth" bsDatepicker
                        formControlName="birth_date">
                    </div>
                    <div class="col-xs-12 col-12 col-md-4 form-group">
                      <input type="text" class="form-control" placeholder="Hire" bsDatepicker
                        formControlName="hir_date">
                    </div>

                    <div class="col-4">

                      <input class="form-control" id="salary" type="number" placeholder="Salary"
                        formControlName="salary">
                      <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>

                    </div>
                  </div>
                </div>
              </div>



              <br>

              <div>
                <div class="row">
                  <div class="col-md-5">
                    <input type="text" class="form-control" formControlName='id_card_number'
                      placeholder="Id card number" mask="X-XXXX-XXXXX-XX-X">
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName='phone_number' placeholder="Phone number"
                      mask="000 000 0000">
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-8">
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                    formControlName="email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger">
                    <div *ngIf="email.errors?.['required']">
                        Email is required.
                    </div>

                    <div *ngIf="email.errors?.['email']">
                        Your email is incorrect !!
                    </div>
                </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="mb-3">
                  <textarea class="form-control" id="address" type="text" placeholder="Address" style="height: 8rem;"
                    formControlName="address"></textarea>
                  <div class="invalid-feedback" data-sb-feedback="address:required">address is required.</div>
                </div>
              </div>

            </form><br>
          </div>
          <div class="col-sm-4 mar2">
            <div class="row">
              <div class="mb-2 text-white">
                <label for="formFileSm" class="form-label">Import Photo</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file" formControlName="photo"
                  (change)="onChangePhoto($event)">
              </div>
            </div>
            <br>
            <div align="center">
              <img *ngIf="previewLoaded" class="img-thumbnail" [src]="this.infoForm.value.photo">
            </div>
            <br>
            <div align="center" class="sh"> <button class="btn btn-primary" (click)="addinfo()">Add</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary" (click)="resetFrom()">Reset</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>